* {
    box-sizing: border-box;
}
  
body {
    margin: 0;
}

/* Create three equal columns that floats next to each other */
.company-column-right,
.company-column-left {
    float: left;
    width: 50%;
    padding: 15px;
    text-align: justify;
}

.company-column-right {
    background-color: #f1f1f1;
    padding-left: 20px;
}

.individual-company-card {
    /* background-color: white; */
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}

#p-help-category, #p-industry, #p-company {
    font-size: 14px;
    word-break: break-all;
    /* overflow-wrap: break-word; */
    overflow: hidden;
    text-overflow: ellipsis;
}

#feature-company {
    font-size: 18px;
}

#feature-help-category, #feature-industry {
    font-size: 16px;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .company-column-left,
    .company-column-right {   
      width: 100%;
      padding: 0;
    }
}

.company-column-right h3, p {
    color: black;
}

/* scrolling */
.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding-top: 7%;
    
    /* .individual-company-card {
      display: inline-block;
    } */
}
  
.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    
    /* .individual-company-card{
      flex: 0 0 auto;
      margin-right: 3px;
    } */
}
  
.individual-company-card {
    display: inline-block;
    flex: 0 0 auto;
    margin-right: 3px;
    border: 2px solid #fe5e1d;
    width: 200px;
    height: 250px;
}
  
.scrolling-wrapper, .scrolling-wrapper-flexbox {
    height: 315px;
    margin-bottom: 20px;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    /* &::-webkit-scrollbar {
      display: none;
    } */
}

&::-webkit-scrollbar {
    display: none;
}