* {
    box-sizing: border-box;
}
  
body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    background: #f1f1f1;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
    float: left;
    width: 75%;
}
  
/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
}
  
/* User image */
.userimg {
    /* background-color: #aaa; */
    width: 100%;
    /* padding: 10px; */
    
}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}
  
.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

#contributions-length h2,
#contributions-length p {
    display: inline;
}

#contributions-btn button {
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    background-color: #fe5e1d;
    color: white;
    font-weight: bold;
    letter-spacing: .02rem;
    text-transform: uppercase;
}

#company-edit-btn {
    padding: 12.8px 20px;
    margin: 8px 30px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    background-color: #38447e;
    color: white;
    text-decoration: none;
    letter-spacing: .02rem;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
}

#company-delete-btn {
    padding: 12.8px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    background-color: #d12b1f;
    color: white;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: .02rem;
    text-transform: uppercase;
    font-size: 13px;
}

#contributions-btn button:hover,
#company-edit-btn:hover,
#company-delete-btn:hover {
    opacity: 1;
}