* {
    box-sizing: border-box;
}
  
body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    background: #f1f1f1;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.company-leftcolumn {   
    float: left;
    width: 75%;
}
  
/* Right column */
.company-rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
}
  
/* User avatar */
.company-user-avatar {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

/* Add a card effect for articles */
.card,
.card-about-me {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}
  
/* Clear floats after the columns */
.company-row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .company-leftcolumn, .company-rightcolumn {   
      width: 100%;
      padding: 0;
    }
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}
  
.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

#contributions-length h2,
#contributions-length p {
    display: inline;
}

#contributions-length {
    text-align: center;
}

#contributions-btn button {
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    background-color: #fe5e1d;
    color: white;
    font-weight: bold;
    letter-spacing: .02rem;
    text-transform: uppercase;
}

#company-edit-btn {
    padding: 12.8px 20px;
    margin: 8px 30px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    background-color: #38447e;
    color: white;
    text-decoration: none;
    letter-spacing: .02rem;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
}

#company-delete-btn {
    padding: 12.8px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    background-color: #d12b1f;
    color: white;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: .02rem;
    text-transform: uppercase;
    font-size: 13px;
}

#contributions-btn button:hover,
#company-edit-btn:hover,
#company-delete-btn:hover {
    opacity: 1;
}

/* Company hr */
.company-leftcolumn .card hr,
.company-rightcolumn .card hr,
.company-rightcolumn .card-about-me hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.company-leftcolumn .card h2,
.company-rightcolumn .card h4,
.card-about-me {
    text-align: center;
    color: black;
}

.company-leftcolumn .card #company-industry,
.company-rightcolumn .card #company-help-category {
    font-size: 15px;
}

.company-leftcolumn .card #company-description {
    text-align: justify;
}

#company-user-owner-name h4 {
    display: inline-block;
    padding: 3px;
}

.company-leftcolumn .card #company-user-owner-nam {
    text-align: center;
}