footer {
    clear: both;
    min-height:50px; 
    padding: 20px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #50473e;
    color: white;
    text-align: center;

    /* margin-top: auto;  */
    position: relative;

}

footer a {
    color: white;
}