body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

/* Add padding to sign in containers */
.login-container {
    padding: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    background-color: white;
    transform: translate(-50%, -50%);
    width: 50%;
}

/* Add padding to sign up container */
/* .signup-main-container {
    padding-bottom: 10%;
    margin-bottom: 20%;
} */

.signup-container {
    padding: 16px;
    background-color: white;
    width: 70%;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

/* Full-width input fields */
.login-container input[type=email],
.login-container input[type=password],

.signup-container input[type=text],
.signup-container input[type=email],
.signup-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.login-container input[type=email]:focus,
.login-container input[type=password]:focus,

.signup-container input[type=text]:focus,
.signup-container input[type=email]:focus, 
.signup-container iinput[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
.login-container hr,
.signup-container hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit button */
#login-btn {
    background-color: #fe5e1d;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

#login-btn:hover {
    opacity: 1;
}

/* Add a blue text color to links */
#login-signup-p-tag a {
    color: dodgerblue;
}

/* Set "sign up" section */
#login-signup-p-tag {
    padding-top: 10px;
}